.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.marquee-track-ltr,
.marquee-track-rtl {
  display: flex;
  width: fit-content;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
  transition: transform 0.5s ease;
}

.marquee-track-ltr {
  animation-name: marquee-ltr;
  animation-duration: 180s;
  transform: translateX(calc(-100% / 3));
}

.marquee-track-rtl {
  animation-name: marquee-rtl;
  animation-duration: 180s;
  transform: translateX(calc(-100% / 3));
}

.marquee-track-ltr:hover,
.marquee-track-rtl:hover {
  animation-play-state: paused;
}

@keyframes marquee-ltr {
  0% {
    transform: translateX(calc(-100% / 3));
  }
  100% {
    transform: translateX(calc(-200% / 3));
  }
}

@keyframes marquee-rtl {
  0% {
    transform: translateX(calc(-100% / 3));
  }
  100% {
    transform: translateX(0);
  }
}
